.login__input {
  width: 100%;
  font-size: 14px;
  line-height: 17px;
  box-sizing: border-box;
  color: #ffffff;
  min-height: 31px;
  margin-bottom: 30px;
  background-color: #000000;
  border: none;
  border-bottom: 2px solid #cccccc;
  padding: 0 3px 0px 3px;
}

.login__input:focus {
  border: 1px solid #5d8ffb;
  outline: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px #5d8ffb;
}