.element__delete {
  background-image: url('./../../../image/DeleteIcon.svg');
  position: absolute;
  right: 15px;
  top: 18px;
  height: 19px;
  width: 18px;
  background-repeat: no-repeat;
  border: none;
  box-sizing: border-box;
  background-color: transparent;
  background-position: center;
  cursor: pointer;
  outline: none;
  transition-duration: 0.8s;
  transition-property: opacity;
}

.element__delete:hover {
  opacity: 0.6;
}