.element__like {
  background-image: url('./../../../image/like.svg');
  background-repeat: no-repeat;
  border: none;
  box-sizing: border-box;
  background-color: transparent;
  width: 21px;
  background-position: center;
  cursor: pointer;
  outline: none;
  transition-duration: 0.8s;
  transition-property: opacity;
  width: 21px;
  height: 19px;
}

.element__like:hover {
  opacity: 0.6;
}